<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col">
    <form [formGroup]="rdvform" (ngSubmit)="envoyerDemande()">
    <div class="bg-secondary w-75 mx-auto rounded h-100 p-4">
      <p><a [routerLink]="'../../details-voiture/'+idvoiture" class="text-primary mb-3"><i class="bi-arrow-left me-2"></i>Retour</a></p>
      <h4 class="mb-5">Demander un rendez-vous diagnostic</h4>
      <p class="fs-5 mb-3 text-white">Stations disponibles: {{ countStation() }}</p>
      @for(station of stations();track station._id;let first=$first){
        <app-station
          [_id]="station._id"
          [nom]="station.nom"
          [lieu]="station.lieu"
          [latitude]="station.coordonnees.coordinates[0]"
          [longitude]="station.coordonnees.coordinates[1]"
          [checked]="first"
          (selectedId)="choisirStation($event)"
        ></app-station>
      }
      <br>
      <div class="d-flex justify-content-around">
        <div class="btn-group" role="group">
          <!-- <button type="button" class="btn btn-secondary border-light"><i class="bi-chevron-double-left"></i></button> -->
          <button type="button" class="btn btn-secondary border-light" (click)="changePage(previousIndex())">{{ previousIndex() }}</button>
          <button type="button" class="btn btn-primary border-light">{{ currentIndex() }}</button>
          <button type="button" class="btn btn-secondary border-light" (click)="changePage(nextIndex())">{{ nextIndex() }}</button>
          <!-- <button type="button" class="btn btn-secondary border-light"><i class="bi-chevron-double-right"></i></button> -->
        </div>
      </div>
      <br>
      <p class="fs-5"><span class="fw-bold text-decoration-underline me-2">Voiture:</span><span class="text-white">{{ voiture()?.description }}</span></p>
      <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here"
            id="floatingTextarea" style="height: 150px;" formControlName="description"></textarea>
        <label for="floatingTextarea">Description du problème</label>
      </div>
      <br>
      <div class="row mb-3">
        <label for="date-favorable" class="col-sm-2 col-form-label">Date favorable</label>
        <div class="col-sm-3">
            <input type="datetime-local" class="form-control" formControlName="datefavorable" id="date-favorable">
        </div>
      </div>
      @if(aucuneStation()){
        <p class="text-danger">Aucune station disponible</p>
      }@else {
        <button type="submit" class="btn btn-primary"><i class="bi-pencil-square me-2"></i>Envoyer la demande</button>
      }
      <p class="text-danger mt-3">{{ erreur() }}</p>
    </div>
    </form>
  </div>
  </div>
</div>
