<div class="container-fluid">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col-8 border border-secondary border-4 rounded-5 p-5">
      <p class="fs-1 fw-bold">JSmith304</p>
      <p class="fs-2 fw-bold mt-5">Profil</p>
      <table class="table">
        <tbody>
          <tr>
            <th>Nom</th>
            <td>John</td>
          </tr>
          <tr>
            <th>Prénom</th>
            <td>Smith</td>
          </tr>
          <tr>
            <th>Nº téléphone</th>
            <td>032 63 156 28</td>
          </tr>
          <tr>
            <th>Date d'inscription</th>
            <td>29/03/2025 15:31</td>
          </tr>
          <tr>
            <th>Abonnement</th>
            <th>Gold</th>
          </tr>
        </tbody>
      </table>
      <p class="fs-2 fw-bold mb-3 mt-5">Paramètres avancés</p>
      <ul class="vstack gap-3">
        <li><a href="#"><i class="bi-lock me-2"></i>Changer le mot de passe</a></li>
        <li><a href="#"><i class="bi-cash me-2"></i>Changer d'abonnement</a></li>
      </ul>
    </div>
  </div>
</div>
