<div class="container-fluid">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col-8 border border-secondary border-4 rounded-5 p-5">
      <p class="fs-1 fw-bold">JSmith304</p>
      <p class="fs-2 fw-bold mt-5">Profil</p>
      <table class="table">
        <tbody>
          <tr>
            <th>Nom</th>
            <td>John</td>
          </tr>
          <tr>
            <th>Prénom</th>
            <td>Smith</td>
          </tr>
          <tr>
            <th>Nº téléphone</th>
            <td>032 63 156 28</td>
          </tr>
          <tr>
            <th>Date d'inscription</th>
            <td>29/03/2025 15:31</td>
          </tr>
          <tr>
            <th>Abonnement</th>
            <th>Gold</th>
          </tr>
        </tbody>
      </table>
      <p class="fs-2 fw-bold mb-3 mt-5">Paramètres avancés</p>
      <ul class="vstack gap-3">
        <li><a href="#" data-bs-toggle="modal" data-bs-target="#motdepasseModal"><i class="bi-lock me-2"></i>Changer le mot de passe</a></li>
        <li><a href="#" data-bs-toggle="modal" data-bs-target="#abonnementModal"><i class="bi-cash me-2"></i>Changer d'abonnement</a></li>
      </ul>
      <div class="modal" id="motdepasseModal" tabindex="-1" aria-labelledby="motdepasseModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="motdepasseModalLabel"><i class="bi-lock me-2"></i>Changer le mot de passe</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body vstack gap-3 p-4">
              <div class="row align-items-center">
                <label for="motdepasseActuel" class="col-5 col-form-label">Mot de passe actuel</label>
                <div class="col-7">
                  <input type="password" class="form-control" id="motdepasseActuel">
                </div>
              </div>
              <hr>
              <div class="row align-items-center">
                <label for="nouveauMotdepasse" class="col-5 col-form-label">Nouveau mot de passe</label>
                <div class="col-7">
                  <input type="password" class="form-control" id="nouveauMotdepasse">
                </div>
              </div>
              <div class="row align-items-center">
                <label for="confirmerMotdepasse" class="col-5 col-form-label fw-bold">Confirmer le nouveau mot de passe</label>
                <div class="col-7">
                  <input type="password" class="form-control" id="confirmerMotdepasse">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <button type="button" class="btn btn-primary">Confirmer</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="abonnementModal" tabindex="-1" aria-labelledby="abonnementModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="abonnementModalLabel">Choisir un abonnement</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body vstack gap-1">
              @for(abonnement of abonnements;track abonnement.id){
                <app-abonnement
                  [id]="abonnement.id"
                  [nom]="abonnement.nom"
                  [couleur]="abonnement.couleur"
                  [prix]="abonnement.prix"
                  [checked]="abonnement.checked"
                ></app-abonnement>
              }
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <button type="button" class="btn btn-primary">Confirmer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
