<div class="container-fluid">
  <div class="row">
    <div class="col-2 vstack bg-black text-light vh-100">
      <div class="row p-3 fs-3 fw-bold">
        <p><img src="/favicon.ico" alt="icon"><span class="p-3">{{ brand }}</span></p>
        <hr>
      </div>
      <div class="row">
        <div class="container-fluid">
          <div class="row">
            <a routerLink="voitures" class="fs-5 btn btn-outline-light border border-0 text-start rounded-0 p-3 ps-4"><i class="bi-car-front-fill"></i><span class="p-3">Voiture</span></a>
          </div>
          <div class="row">
            <button class="fs-5 btn btn-outline-light border border-0 text-start rounded-0 p-3 ps-4"><i class="bi-wrench"></i><span class="p-3">Réparations</span></button>
          </div>
        </div>
      </div>
      <div class="row mt-3 p-3">
        <button type="button" class="btn btn-light rounded-pill p-3 ps-3"><i class="bi-list"></i><span class="p-3">Demander un RDV</span></button>
      </div>
      <div class="row mx-auto mt-auto p-3">
        <div class="dropdown">
          <button class="btn btn-black dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi-person-circle me-2"></i>JSmith304
          </button>
          <ul class="dropdown-menu bg-black border border-light">
            <li><a class="dropdown-item" href="#"><i class="bi-person-fill me-2"></i>Profil</a></li>
            <li><a class="dropdown-item" href="../logout"><i class="bi-box-arrow-left me-2 text-danger"></i>Se déconnecter</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-10 vh-100 overflow-scroll px-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
