<div class="card">
  <img src="/favicon.ico" class="card-img-top border border-secondary" alt="image">
  <div class="card-body border border-secondary vstack bg-light text-black">
    <h3 class="card-title fw-bold">{{ description | textOverflow }}</h3>
    <div class="row justify-content-between mt-4 px-2">
      <a href="#" class="col-6 btn btn-light border border-black align-items-center" data-bs-toggle="modal" [attr.data-bs-target]="'#rdvvoiture'+id"><i class="bi-clock-history me-2"></i><span class="text-wrap">Rendez-vous</span></a>
      <a href="#" class="col-5 btn bg-black" data-bs-toggle="modal" [attr.data-bs-target]="'#voiture'+id">Détails</a>
    </div>
  </div>
  <div class="modal" [id]="'voiture'+id" tabindex="-1" [attr.aria-labelledby]="'voitureLabel'+id" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" [id]="'voitureLabel'+id">{{ description | textOverflow }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>Description</th>
                <td>{{ description }}</td>
              </tr>
              <tr>
                <th>Immatriculation</th>
                <td>{{ immatriculation }}</td>
              </tr>
              <tr>
                <th>Modèle</th>
                <td>{{ modele }}</td>
              </tr>
              <tr>
                <th>Type</th>
                <td>{{ type }}</td>
              </tr>
              <tr>
                <th>Moteur</th>
                <td>{{ moteur }}</td>
              </tr>
              <tr>
                <th>Transmission</th>
                <td>{{ transmission }}</td>
              </tr>
              <tr>
                <th>Traction</th>
                <td>{{ traction }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning"><i class="bi-pencil me-2"></i>Modifier</button>
          <button type="button" class="btn btn-danger"><i class="bi-trash me-2"></i>Retirer</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" [id]="'rdvvoiture'+id" tabindex="-1" [attr.aria-labelledby]="'rdvvoitureLabel'+id" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" [id]="'rdvvoitureLabel'+id">Demander un rendez-vous</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="fw-bold fs-3">{{ description }}</p>
          <hr>
          <div class="row pe-3">
            <label class="col-3 col-form-label" [for]="'stations'+id">Stations</label>
            <div class="col-8">
              <input class="form-control" type="text" [id]="'stations'+id" placeholder="Rechercher...">
            </div>
            <button class="btn btn-secondary fw-bold col-1"><i class="bi-search"></i></button>
          </div>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td><img src="/favicon.ico"></td>
                <td>Station</td>
                <td>
                  <input type="radio" class="btn-check">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
