<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
      <div class="bg-secondary rounded h-100 p-4">
        <p><a [routerLink]="'../../demande-rdv'" class="text-primary mb-3"><i class="bi-arrow-left me-2"></i>Retour</a></p>
        <p class="fs-4 fw-bold text-white">Diagnostic: {{ demande()?.etat }}</p>
        <br>
        <table class="table table-dark table-bordered border-white">
          <tbody>
            <tr>
              <th>Voiture</th>
              <td>{{ demande()?.voiture?.description }}</td>
            </tr>
            <tr>
              <th>Station</th>
              <td>{{ demande()?.station?.nom }}</td>
            </tr>
            <tr>
              <th>Description</th>
              <td>{{ demande()?.description }}</td>
            </tr>
            <tr>
              <th>Date choisie</th>
              <td>{{ demande()?.date_favorable }}</td>
            </tr>
          </tbody>
        </table>
        <br>
        <p class="fs-5 fw-bold text-white mb-3">Évaluations:</p>
        <table class="table w-75 mx-auto">
          <thead>
            <tr>
              <th>Évaluation</th>
              <th>Mécaniciens</th>
              <th>Date et heure</th>
            </tr>
          </thead>
          <tbody>
            @for(diagnostic of diagnostics();track diagnostic._id){
              <tr>
                <td>{{ diagnostic.evaluations }}</td>
                <td><ul>
                  @for(mecanicien of diagnostic.mecaniciens;track mecanicien._id){
                    <li>{{ mecanicien.utilisateur.nom_utilisateur }}</li>
                  }
                </ul></td>
                <td>{{ diagnostic.dateheure }}</td>
              </tr>
            }
          </tbody>
        </table>
        <br>
        <div class="d-flex justify-content-around">
          <div class="btn-group" role="group">
            <!-- <button type="button" class="btn btn-secondary border-light"><i class="bi-chevron-double-left"></i></button> -->
            <button type="button" class="btn btn-secondary border-light" (click)="changePageDiags(previousIndexDiags())">{{ previousIndexDiags() }}</button>
            <button type="button" class="btn btn-primary border-light">{{ currentIndexDiags() }}</button>
            <button type="button" class="btn btn-secondary border-light" (click)="changePageDiags(nextIndexDiags())">{{ nextIndexDiags() }}</button>
            <!-- <button type="button" class="btn btn-secondary border-light"><i class="bi-chevron-double-right"></i></button> -->
          </div>
        </div>
      </div>
  </div>
</div>
