<div class="sidebar pe-4 pb-3">
  <nav class="navbar bg-secondary navbar-dark">
    <a href="index.html" class="navbar-brand mx-4 mb-3">
      <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>HandyMan</h3>
    </a>
    @for(item of menuItems();track $index){
      @if($index===activeMenuIndex()){
        <div class="navbar-nav w-100">
          <a [routerLink]="item.lien" class="nav-item nav-link active" (click)="navigateMenu($index)"><i [class]="item.icon"></i>{{ item.label }}</a>
        </div>
      }@else{
        <div class="navbar-nav w-100">
          <a [routerLink]="item.lien" class="nav-item nav-link" (click)="navigateMenu($index)"><i [class]="item.icon"></i>{{ item.label }}</a>
        </div>
      }
    }
  </nav>
</div>
