<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col">
      <div class="bg-secondary rounded h-100 p-4">
        <h3 class="mb-3">Diagnostics</h3>
        <p class="fw-bold fs-4 text-white mt-4">Vos diagnostics: {{ count() }}</p>
        <table class="table">
          <thead>
            <tr>
              <th>Voiture</th>
              <th>Station</th>
              <th>Date choisie</th>
              <th>État</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for(demande of demandes();track demande._id){
              <tr>
                <td>{{ demande.voiture.description }}</td>
                <td>{{ demande.station.nom }}</td>
                <td>{{ demande.date_favorable }}</td>
                <td>{{ demande.etat }}</td>
                <td><a [routerLink]="'../details-demande-rdv/'+demande._id" class="link-primary"><i class="bi-list-ul me-2"></i>Détails</a></td>
              </tr>
            }
          </tbody>
        </table>
        <br>
        <div class="d-flex justify-content-around">
          <div class="btn-group" role="group">
            <!-- <button type="button" class="btn btn-secondary border-light"><i class="bi-chevron-double-left"></i></button> -->
            <button type="button" class="btn btn-secondary border-light" (click)="changePage(previousIndex())">{{ previousIndex() }}</button>
            <button type="button" class="btn btn-primary border-light">{{ currentIndex() }}</button>
            <button type="button" class="btn btn-secondary border-light" (click)="changePage(nextIndex())">{{ nextIndex() }}</button>
            <!-- <button type="button" class="btn btn-secondary border-light"><i class="bi-chevron-double-right"></i></button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
